//////////
// Imports
//////////

@import "normalize";
@import "additional-defaults";

/////////////
// Variables
/////////////

$orange: #FF5C00;
$black: #292929;
$medium-bp: 640px;
$large-bp: 1020px;

//////////////////
// Highlight Color
//////////////////

::selection { background: $orange; color: #fff; text-shadow: none; }

/////////////////
// Helper Classes
/////////////////

.serif {
  font-family: 'Merriweather', serif;
}

.sans-serif {
  font-family: 'Work Sans', sans-serif;
}

.no-border {
  border-bottom: none !important;
}

//////////////
// Typography
//////////////

body {
  @extend .serif;
  font-size: 14px;
  line-height: 1.7;
  color: $black;

  @media screen and (min-width: $large-bp){
    font-size: 16px;
  }

}

h1, h2, h3, h4, h5, h6 {
  @extend .sans-serif;
}

h1 {
  font-size: 54px;
  line-height: 1;
  margin: 0;

  @media screen and (min-width: $large-bp){
    font-size: 64px;
  }

}

a {
  text-decoration: none;
  color: $orange;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px; // offset border
  transition: .25s border-color ease-in-out;
}

a:hover { border-bottom: 2px solid $orange; }

/////////
// Layout
/////////

.site-content {
  display: flex;
  height: 100vh;
  flex-direction: column;

  @media screen and (min-width: $medium-bp){
    justify-content: flex-end;
    flex-direction: row;
  }

}

// No CSS VH Unit fallback
.no-cssvhunit .site-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

main {
  display: flex;
  padding: 24px 24px;

  @media screen and (min-width: $medium-bp){
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    padding: 4%;
  }

}

main section {

  @media screen and (min-width: $medium-bp){
    max-width: 442px;
  }

  @media screen and (max-width: $medium-bp){
    h1 {
      position: relative;
      margin-top: -52px;
      margin-left: -24px;
      padding-left: 24px;
      padding-top: 8px;
      background-color: #fff;
      z-index: 1;
      width: 75%;
    }
  }

}

.headshot {
  display: flex;
  order: -1; // change order on moble
  flex-grow: 1; // makes it take up all space available
  width: 100%;
  min-height: 375px;
  background: url('../img/kylegordy-sm.jpg') center no-repeat;
  background-size: cover;

  @media screen and (min-width: $medium-bp){
    background: url('../img/kylegordy-lr.jpg') center no-repeat;
    background-size: cover;
    order: 0;
    width: 50%;
    min-height: auto;
    border: 18px solid #fff;
  }

}

////////
// Links
////////

.links {
  margin-top: 1.25rem;
  padding-bottom: 1rem;
}

.icon {
  margin-right: 10px;
}

.icon__svg {
  fill: $black;
  transition: .25s all ease-in-out;
}

.icon:hover .icon__svg {
  fill: $orange;
}

.email {
  margin-left: 6px;
  align-self: center;
}

/////////////////
// Fade Animation
/////////////////

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  opacity:0; // make things invisible upon start
  animation:fadeIn ease-in 1; // call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time
  animation-fill-mode: forwards; // this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)
  animation-duration: .75s;
}

.fade-in.one { animation-delay: 0s; }
.fade-in.two { animation-delay: .75s; }
.fade-in.three { animation-delay: 1.25s; }
.fade-in.four { animation-delay: 2s; }
