// Color Variables
////////////////////

$orange: #F05000;
$black: #292929;
$gray-dark: #5F5F5F; // 75% $black
$gray-light: #F2F2F2; // 6% $black

$max-width: 1440px; // 1340 + 100 (for outside 50px margins)

$bp-s: 600px;
$bp-m: 800px;
$bp-l: 1020px;
$bp-xl: $max-width;

$nav-height-s: 80px;
$nav-height-l: 110px;

$footer-height-s: 80px;
$footer-height-l: 110px;

$cp-s: 16px;
$cp-m: 3.5vw;
$cp-l: 50px;

$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);

// Imports
////////////////////

@import "base/normalize";
@import "base/additional-defaults";
@import "base/animations";
@import "base/helper-classes";
@import "base/typography";
@import "base/buttons";
@import "base/forms";

@import "component/site-nav";
@import "component/site-footer";
@import "component/experience-list";

@import "layout/work";
@import "layout/about";
@import "layout/contact";
@import "layout/404";
