<div class="desktop-mockup {% if section.focus == "right" %}focus-right {% else %} focus-left {% endif %}" data-inview data-inview-fade>
    {% for item in section.images limit:2 %}
    <div class="desktop-mockup__media">
        <img srcset="{{ site.baseurl }}/assets/img/project/{{ item.img }},
                     {{ site.baseurl }}/assets/img/project/{{ item.img | replace:'.','@2x.' }} 2x"
                src="{{ site.baseurl }}/assets/img/project/{{ item.img }}" alt="{{ item.alt }}">
    </div>
    {% endfor %}
</div>
