<section class="experience" data-inview data-inview-fade="up" data-transition-delay="1">
    <div class="experience__grid">

        <ul class="experience__ul list--plain" data-inview-fade data-transition-delay="2">
            <li class="bold">Freelance</li>
            <li>UI Designer & Front-end Developer</li>
            <li>Apr 2018 &ndash; Present</li>
        </ul>

        <ul class="experience__ul list--plain" data-inview-fade data-transition-delay="3">
            <li class="bold">Simple Focus</li>
            <li>UI Designer & Front-end Developer </li>
            <li>Nov 2015 &ndash; Apr 2018</li>
        </ul>

        <ul class="experience__ul list--plain" data-inview-fade data-transition-delay="4">
            <li class="bold">Anonyome Labs</li>
            <li>Product Designer</li>
            <li>Aug 2016 &ndash; Feb 2017</li>
        </ul>

        <ul class="experience__ul list--plain" data-inview-fade data-transition-delay="5">
            <li class="bold">Chattanooga Public Library</li>
            <li>Designer  & Front-end Developer</li>
            <li>Apr 2014 &ndash; Nov 2015</li>
        </ul>

        <ul class="experience__ul list--plain" data-inview-fade data-transition-delay="6">
            <li class="bold">Fillauer Companies</li>
            <li>Designer  & Front-end Developer</li>
            <li>May 2011 &ndash; Apr 2014</li>
        </ul>
    </div>

    {% if page.url == "/" %}
        <a class="experience__btn btn" href="{{ site.baseurl }}{% link about.md %}" data-inview-fade data-transition-delay="7">More About Me</a>
    {% else %}
        <a class="experience__btn btn btn--secondary" href="{{ "/assets/pdf/Kyle-Gordy-Resume.pdf" | relative_url }}" data-inview-fade data-transition-delay="7">Download Resume</a>
    {% endif %}

</section>
