<section class="experience">
    <div class="experience__grid">

        <ul class="experience__ul list--plain">
            <li class="bold">Freelance</li>
            <li>UI Designer & Front-end Developer</li>
            <li>Apr 2018 &ndash; Present</li>
        </ul>

        <ul class="experience__ul list--plain">
            <li class="bold">Simple Focus</li>
            <li>UI Designer & Front-end Developer </li>
            <li>Nov 2015 &ndash; Apr 2018</li>
        </ul>

        <ul class="experience__ul list--plain">
            <li class="bold">Anonyome Labs, Inc.</li>
            <li>Product Designer</li>
            <li>Aug 2016 &ndash; Feb 2017</li>
        </ul>

        <ul class="experience__ul list--plain">
            <li class="bold">Chattanooga Public Library</li>
            <li>Developer & Designer </li>
            <li>Apr 2014 &ndash; Nov 2015</li>
        </ul>

        <ul class="experience__ul list--plain">
            <li class="bold">Fillauer Companies, Inc. </li>
            <li>Developer & Designer </li>
            <li>May 2011 &ndash; Apr 2014</li>
        </ul>
    </div>

    {% if page.url == "/" %}
        <a class="experience__btn btn" href="{{ site.baseurl }}{% link about.md %}">more about me</a>
    {% else %}
         <a class="experience__btn btn btn--secondary" href="{{ site.baseurl }}{% link about.md %}">Download Resume</a>
    {% endif %}
</section>
