<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} | Freelance UI Designer &amp; Front-end Developer | {% if page.title %}{{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    {% include touch-icons.html %}
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400|Work+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css?=V2.0">
    <!-- JS -->
    <script src="{{ site.url }}/assets/js/modernizr-custom.js"></script>
</head>
