<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ site.title }} | Freelance UI Designer &amp; Front-end Developer | {% if page.title %}{{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <!-- For Formspree contact form -->
    <meta name="referrer" content="origin" />
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="{{ "/favicon.svg" | relative_url }}">
    <link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | relative_url }}" color="#347979">
    <!-- Touch Icon -->
    <link rel="apple-touch-icon" href="{{ "/assets/img/icons/touch-icon.png" | relative_url }}">
    <!-- Chrome for Android theme color -->
    <meta name="theme-color" content="#FFFFFF">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}?=V2.0">
    <noscript>
        <style type="text/css">
            [data-inview-fade] {
                animation: fade .8s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
            }
        </style>
    </noscript>
</head>
