// Work Intro
////////////////////

.work-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 130px;
    height: 25vmin;
}

.work-intro__title {
    max-width: 15em;
    margin-bottom: 1em;

    @media screen and (max-width: $bp-l){
        font-size: 6.1vw;
    }

}

// Work Grid
////////////////////

.work-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    max-width: 900px;
    margin: 0 0 50px 0;

    @media screen and (min-width: 550px){
        grid-template-columns: repeat(2, 1fr);
    }

}

.work-grid__card {
    position: relative;
    display: block;
    border: none;
    outline: none;
}

.card__img {
    display: block;
    width: 100%;
    border: 2px solid $gray-light;
}

.card__overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.90) 3%, #FFFFFF 72%);
    padding: 15px;
    border: 8px solid $orange;
    overflow: hidden; // for overlay number
    visibility: hidden;
    opacity: 0;
    transition: .5s all $ease-in-out-cubic;
    transition-property: opacity, visibility;
    z-index: 1;

    @media screen and (min-width: $bp-m){
        border: 10px solid $orange;
    }

}

.work-grid__card:hover .card__overlay,
.work-grid__card:focus .card__overlay {
    visibility: visible;
    opacity: 1;
}

.overlay__title {
    color: $black;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 -2px 0;

    @media screen and (min-width: $bp-m){
        font-size: 22px;
    }

}

.overlay__tags {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;

    @media screen and (min-width: $bp-s){
        font-size: 16px;
    }

}

.overlay__title, .overlay__tags {
    transform: translateX(-15px);
    transition: .5s transform $ease-in-out-cubic;
}

.work-grid__card:hover .overlay__title,
.work-grid__card:hover .overlay__tags,
.work-grid__card:focus .overlay__title,
.work-grid__card:focus .overlay__tags {
    transform: translateX(0);
}

.overlay__number {
    position: absolute;
    right: 14px;
    bottom: -36px;
    @extend .sans-serif;
    text-align: right;
    font-size: 142px;
    font-weight: 600;
    line-height: 1;
    color: $gray-light;
    z-index: -1;

    @media screen and (min-width: $bp-m){
        bottom: -44px;
        font-size: 180px;
    }

}
