// Experience List
////////////////////

.experience {
    position: relative;

    &:before {
        @extend .sans-serif;
        @media screen and (min-width: $bp-m) {
            content: "Experience";
            position: absolute;
            left: 40px;
            right: 0;
            bottom: 0;
            height: 104px;
            overflow: hidden;
            z-index: -1;
            font-size: 160px;
            font-weight: 600;
            line-height: 1;
            color: $gray-light;
        }
    }

}

.experience__grid {
    display: flex;
    align-items: center;
    padding: 40px 30px;
    border: 2px solid $gray-light;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    @media screen and (min-width: $bp-m) {
        padding: 50px 50px 110px 50px;
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 2px;
        bottom: 2px;
        width: 30px;
        z-index: 0;

        @media screen and (min-width: $bp-m) {
            width: 50px;
        }
    }

    &:before {
        left: 2px;
        background-image: linear-gradient(-90deg, rgba(255,255,255,0.00) 0%, #FFFFFF 100%);
    }

    &:after {
        right: 2px;
        background-image: linear-gradient(90deg, rgba(255,255,255,0.00) 0%, #FFFFFF 100%);
    }

}

.experience__h1 {
    position: absolute;
    left: 40px;
    bottom: -38%;
    display: block;
    font-size: 160px;
    line-height: 1;
    color: $gray-light;
}

.experience__ul {
    flex: 1 0 auto;
    padding-right: 30px;
    font-size: 14px;

    @media screen and (min-width: $bp-m) {
        padding-right: 49px;
    }
}

.experience__ul .bold {
    @extend .sans-serif;
    font-size: 16px;
}

.experience__btn {
    position: absolute;
    right: 50px;
    bottom: -24px;
}
