// Experience List
////////////////////

.experience {
    position: relative;
    margin-right: -$cp-s; // negative margin to make right side "bleed"

    @media screen and (min-width: $bp-s) {
        margin-right: -$cp-m;
    }

    @media screen and (min-width: $bp-xl) {
        margin-right: 0;
    }


    &:before {
        @extend .sans-serif;
        @media screen and (min-width: $bp-m) {
            content: "Experience";
            position: absolute;
            left: 40px;
            right: 0;
            bottom: 0;
            height: 110px;
            overflow: hidden;
            z-index: -1;
            font-size: 160px;
            font-weight: 600;
            line-height: 1;
            color: $gray-light;
        }
    }

}

.experience__grid {
    display: flex;
    align-items: center;
    padding: 40px;
    border: 2px solid $gray-light;
    border-right: none; // hide border to fake a "bleed" on smaller sizes
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    @media screen and (min-width: $bp-m) {
        padding: 50px 50px 110px 50px;
    }

    @media screen and (min-width: $bp-xl){
        border-right: 2px solid $gray-light; // show right border
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 2px;
        bottom: 2px;
        z-index: 0;

    }

    &:before {
        width: 40px;
        left: 2px;
        background-image: linear-gradient(-90deg, rgba(255,255,255,0.00) 0%, #FFFFFF 100%);
    }

    &:after {
        width: 50px;
        right: 0;
        background-image: linear-gradient(90deg, rgba(255,255,255,0.00) 0%, #FFFFFF 100%);

        @media screen and (min-width: $bp-xl){
            right: 2px; // move over 2px to make room for right border
        }

    }

}

.experience__h1 {
    position: absolute;
    left: 40px;
    bottom: -38%;
    display: block;
    font-size: 160px;
    line-height: 1;
    color: $gray-light;
}

.experience__ul {
    flex: 1 0 auto;
    padding-right: 30px;
    font-size: 14px;

    @media screen and (min-width: $bp-m) {
        padding-right: 39px;
    }
}

.experience__ul .bold {
    @extend .sans-serif;
    font-size: 16px;
}

.experience__btn {
    position: absolute;
    right: 40px;
    bottom: -24px;
}
