.site-nav {
    // background-color: #fff;
}

.site-nav__container {
    display: flex;
    align-items: center;
    height: 80px;

  @media screen and (min-width: $bp-m){
      height: 110px;
  }

}

.site-nav__logo {
    font-size: 20px;
    line-height: 22px;
    margin-right: 14px;
    letter-spacing: -0.1px;

    @media screen and (min-width: $bp-m){
        margin-right: 36px;
    }
}

.site-nav__logo a {
    color: $black;

    &:hover,
    &:active {
        color: $orange;
    }

}

.site-nav__ul {
    font-size: 15px;
    text-transform: lowercase;
}

.site-nav__li {
}

.site-nav__li a {
    color: $gray-dark;
    border-bottom: none;
    padding: 4px;

    &:hover,
    &:active,
    &.active {
        color: $orange;
        border-bottom: none;
    }

    @media screen and (min-width: $bp-m){
        padding: 10px;
    }
}
