// Sticky Footer Logic
// https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

main {
    flex: 1 0 auto;
}

.site-nav,
.site-footer {
    flex: none;
}

// end logic

.site-footer {
    margin-top: 80px;
    border-top: 2px solid $gray-light;
    background-color: #fff;
}

.site-footer__container {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;

    @media screen and (min-width: $bp-s){
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 150px;
        padding-top: 0px;
    }
}

.site-footer__nav {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    padding: 0;
}

.icon__svg {
    fill: $black;
    transition: .25s all ease-in-out;
    vertical-align: middle;
}

.icon:hover .icon__svg,
.icon:focus .icon__svg  {
    fill: $orange;
}

.site-footer__email {
    margin-left: 10px;
    line-height: 1.4;
}

.site-footer__copyright {
    color: $gray-dark;
    opacity: .5;
    margin: 10px 0 0 0;
    font-size: 13px;

    @media screen and (min-width: $bp-s){
        margin: 0;
        font-size: inherit;
    }
}
