.site-nav {
    // background-color: #fff;
}

.site-nav__container {
    display: flex;
    align-items: center;
    height: $nav-height-s;

  @media screen and (min-width: $bp-m){
      height: $nav-height-l;
  }

}

.site-nav__logo {
    font-size: 20px;
    line-height: 22px;
    margin-right: 6vw;
    letter-spacing: -0.1px;

    @media screen and (min-width: $bp-m){
        margin-right: 2vw;
    }
}

.site-nav__logo a {
    color: $black;

    &:hover,
    &:focus {
        color: $orange;
    }

}

.site-nav__ul {
    flex: 1 1 auto;
    font-size: 15px;
    text-transform: lowercase;
}

.site-nav__li {
}

.site-nav__li a {
    color: $gray-dark;
    border-bottom: none;
    padding: 2vw;

    &:hover,
    &:focus,
    &.active {
        color: $orange;
        border-bottom: none;
    }

    @media screen and (min-width: $bp-s){
        padding: 10px;
    }
}

// active class styles

.site-nav .active {
    position: relative;
}

.site-nav .active:before {
    content: '';
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    width: 26px;
    height: 30px;
    transform: translate(-50%, -50%);
    background-color: $gray-light;
    z-index: -1;
    animation: shape-reveal .8s $ease-in-out-cubic .1s forwards;
    opacity: 0;
}

.site-nav__li:nth-of-type(1) .active:before {
    clip-path: polygon(20% 20%, 87% 0, 100% 100%, 0 74%);
}

.site-nav__li:nth-of-type(2) .active:before {
    clip-path: polygon(19% 0%, 76% 12%, 100% 97%, 0 100%);
}

.site-nav__li:nth-of-type(3) .active:before {
    clip-path: polygon(19% 22%, 76% 8%, 100% 80%, 0 100%);
}

@keyframes shape-reveal {

    0% {
        opacity: 0;
        clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
    }

    100% {
        opacity: 1;
    }

}
