---
layout: default
---

<section class="contact-body">
    <h1>{{ page.headline }}</h1>
    {{ content }}
</section>

<section class="contact-form">

    <form class="contact-form__form" action="https://formspree.io/kyle@kgordy.com" method="POST">
        <label class="visuallyhidden" for="name">Name</label>
        <input id="name" type="text" name="name" placeholder="Name" required>

        <label class="visuallyhidden" for="_replyto">Email</label>
        <input id="_replyto" type="email" name="_replyto" placeholder="Email" required>

        <label class="visuallyhidden" for="_subject">Interest</label>
        <select id="_subject" name="_subject" required>
            <option class="placeholder" value="" selected disabled hidden>Interest</option>
            <option value="Let's work together">Let's work together</option>
            <option value="Let's talk shop">Let's talk shop</option>
            <option value="It's a secret 🤫">It's a secret 🤫</option>
        </select>

        <label class="visuallyhidden" for="message">Message</label>
        <textarea id="message" name="message" placeholder="Message"></textarea>

        <button class="btn" type="submit">Send Message</button>

        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_format" value="plain" />
        <input type="hidden" name="_next" value="{{ site.baseurl }}{% link thanks.md %}" />
    </form>

</section>
