---
layout: default
---

<section class="contact-body" data-inview data-inview-fade="up" data-transition-delay="1">
    <h1>{{ page.title }}</h1>
    {{ content }}
    <a href="{{ site.baseurl }}{% link contact.md %}" class="btn">send another message</a>
</section>

<video class="thanks-gif" autoplay loop muted playsinline data-inview data-inview-fade="left">
  <source src="https://media.giphy.com/media/5wWf7GW1AzV6pF3MaVW/giphy.mp4" type="video/mp4">
  <!--[if lt IE 9]><img src="{{ site.baseurl }}/assets/img/gifs/thanks.gif" alt="A scene from the TV show The Office where Jim and Pam air high-five."><![endif]-->
</video>
