// Contact Page
////////////////////

.about-hero {
    position: relative; // mobile only to contain background angle
    display: flex;
    flex-direction: column;
    margin-left: -$cp-s;
    margin-right: -$cp-s;
    margin-bottom: 40px;
    padding-bottom: 40px;

    @media screen and (min-width: $bp-s) {
        margin-left: -$cp-m;
        margin-right: -$cp-m;
    }

    @media screen and (min-width: $bp-m) {
        position: inherit; // reset postion relative
        flex-direction: row;
        justify-content: flex-start;
        min-height: 600px;
        max-height: 850px; // fallback for vmin
        height: 80vmin;
        padding-bottom: 60px;
        margin-bottom: 60px;
    }

    @media screen and (min-width: $bp-xl) {
        margin-left: 0;
        margin-right: 0;
    }

}

.about-hero__img {
    background: url("../img/global/kylegordy-400.jpg") no-repeat center / cover;
    height: 60vh;
    min-height: 300px;
    width: 100%;

    @media only screen and ( min-device-pixel-ratio: 1.25),
           only screen and ( min-resolution: 200dpi),
           only screen and ( min-resolution: 1.25dppx) {
        background: url("../img/global/kylegordy-800.jpg") no-repeat center / cover;
    }

    @media screen and (min-width: $bp-s) {
        background: url("../img/global/kylegordy-600.jpg") no-repeat center / cover;
        min-height: 500px;
        width: 80%;

        @media only screen and ( min-device-pixel-ratio: 1.25),
               only screen and ( min-resolution: 200dpi),
               only screen and ( min-resolution: 1.25dppx) {
            background: url("../img/global/kylegordy-800.jpg") no-repeat center / cover;
        }

    }

    @media screen and (min-width: $bp-m) {
        background: url("../img/global/kylegordy-800.jpg") no-repeat center / cover;
        min-height: 100%;
        height: 100%;
        width: 50%;

        @media only screen and ( min-device-pixel-ratio: 1.25),
               only screen and ( min-resolution: 200dpi),
               only screen and ( min-resolution: 1.25dppx) {
            background: url("../img/global/kylegordy-1200.jpg") no-repeat center / cover;
        }

    }

    @media screen and (min-width: $bp-l) {
        max-width: 50%;
    }

    @media screen and (min-width: $bp-l + 200) {
        max-width: 45%;
    }

}

.about-hero__body {
    width: 100%;
    width: calc(100vw - 40px);
    padding: 16px;
    background-color: #fff;
    margin-top: -40px;
    z-index: 2;

    @media screen and (min-width: $bp-s) {
        width: auto;
        margin-left: 40px;
        margin-right: 40px;
        padding: 24px;
    }

    @media screen and (min-width: $bp-m) {
        width: 50%;
        align-self: flex-end;
        padding: 30px;
        margin: 0 60px 60px -60px;
    }

    @media screen and (min-width: $bp-l) {
        padding: 60px;
        max-width: 636px;
    }
}

// Background angle

.about-hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80vw;
    height: 40vh;
    background: url("../img/angles/about-angle.svg") no-repeat right bottom;
    background-size: cover;
    z-index: -1;
    @extend [data-inview-fade];

    @media screen and (min-width: $bp-s) {
        height: 100%;
    }

    @media screen and (min-width: $bp-m) {
        top: $nav-height-l;
        min-height: 600px;
        max-height: 850px; // fallback for vmin
        height: 80vmin;
        width: 70%;
    }

}
