// Contact Page
////////////////////

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: $bp-m){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 500px;
    }

}

.contact-body {
    max-width: 450px;
    margin-top: 25px;
    margin-bottom: 25px;

    @media screen and (min-width: $bp-m){
        margin: 0;
        padding-right: 25px;
    }

    @media screen and (min-width: $bp-l){
        max-width: 550px;
        padding-right: 50px;
    }

}

.contact-form {
    margin: -10px 0 50px 0;

    @media screen and (min-width: $bp-m){
        margin: 0;
        width: 50%;
    }

}

.contact-form__form {
    max-width: 450px;
    margin-left: -$cp-s;
    margin-right: -$cp-s;
    padding: $cp-s;
    background-color: #fff;

    @media screen and (min-width: $bp-m){
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
    }
}

.contact + .site-footer {
    margin-top: 0;
}

// Background angle

.contact:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background: url("../img/angles/contact-angle.svg") no-repeat right bottom / cover;
    width: 100%;
    height: 72%;
    z-index: -1;
    @extend [data-fade];

    @media screen and (min-width: $bp-s){
        height: 60%;
    }

    @media screen and (min-width: $bp-m){
        background-size: contain;
        width: 80%;
        height: 100%;
    }

    @media screen and (min-width: $bp-l){
        width: 70%;
    }

    @media screen and (min-width: $bp-xl){
        width: 64%;
    }

}

// this is used on the message sent page

.thanks-gif {
    box-sizing: content-box; // for html5 video
    order: -1;
    width: 100%;
    margin-bottom: -10px;

    @media screen and (min-width: $bp-m){
        order: 1;
        width: 50%;
        margin: 0;
        border: 20px solid #fff;
    }

}
