img {
  max-width: 100%;
  height: auto;
}

// Global box-sizing
*,
*:after,
*:before {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  // -webkit-font-smoothing:antialiased;
  // font-smoothing:antialiased;
  // text-rendering:optimizeLegibility;
}

// Makes images responsive
img { max-width: 100%; height: auto; -ms-interpolation-mode:bicubic }

// Remove tap highlight on mobile
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

// Highlight Color
::selection { background: $black; color: #fff; text-shadow: none; }
::-moz-selection { background: $black; color: #fff; text-shadow: none; }
