// Animations
////////////////////

$animation-distance: 40px;
$animation-duration: .8s;

@keyframes fade {
    from { opacity: 0;}
    to { opacity: 1; transform: translate3d(0, 0, 0);}
}

[data-fade],
[data-inview-fade] {
    opacity: 0;
    will-change: opacity, transform;
}

[data-fade],
.inview[data-inview-fade],
.inview [data-inview-fade] {
    animation: fade $animation-duration $ease-in-out-cubic forwards;
}

[data-fade="up"], [data-inview-fade="up"]  { transform: translate3d(0, $animation-distance, 0); }
[data-fade="down"], [data-inview-fade="down"] { transform: translate3d(0, -$animation-distance, 0); }
[data-fade="left"], [data-inview-fade="left"] { transform: translate3d($animation-distance, 0, 0); }
[data-fade="right"], [data-inview-fade="right"] { transform: translate3d(-$animation-distance, 0, 0); }

// Transition Modifiers
////////////////////

@for $i from 1 through 10 {
    [data-transition-delay="#{$i}"] {
        animation-delay: $i*.1s !important;
    }
    [data-transition-duration="#{$i}"] {
        animation-duration: $i*.1s !important;
    }
}
