.btn,
button,
input[type="button"] {
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    font-weight: 600;
    text-transform: lowercase;
    text-align: left;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 16px 50px 17px 20px;
    background-color: $orange;
    transition: all .25s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    @extend .sans-serif;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 1px;
        width: 8px;
        height: 10px;
        border-style: solid;
        border-width: 5px 0 5px 8px;
        border-color: transparent transparent transparent #fff;
        margin-left: 5px;
        transition: .3s all ease-in-out;
    }

    &:hover:after ,
    &:focus:after {
        margin-left: 10px;
    }

    &:hover,
    &:focus {
        background-color: darken( $orange, 4% );
    }

    &:active {
        background-color: darken( $orange, 8% );
    }

}
