// Hide visually and from screen readers

.hidden {
    display: none !important;
}

// Hide only visually, but have it available for screen readers:
// https://snook.ca/archives/html_and_css/hiding-content-for-accessibility

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard:
// https://www.drupal.org/node/897638

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

.bold {
    color: $black;
    font-weight: 600;
}

.no-border {
  border-bottom: none !important;
}

.no-margin {
    margin: 0 !important;
}

.list--inline {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
        display: inline;
    }
}

.list--plain {
    list-style: none;
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    max-width: $max-width;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;

    @media screen and (min-width: $bp-m){
        padding-left: 25px;
        padding-right: 25px;
    }

    @media screen and (min-width: $bp-l){
        padding-left: 50px;
        padding-right: 50px;
    }
}
