body {
  @extend .serif;
  -webkit-text-size-adjust: 100%;
  font-size: 15px;
  line-height: 1.7;
  color: $black;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  @extend .sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -1px;
  margin: 0;

  @media screen and (min-width: $bp-m){
    font-size: 48px;
    line-height: 58px;
  }

  @media screen and (min-width: $bp-l){
    font-size: 64px;
    line-height: 76px;
  }

}

p {
    line-height: 26px;
    color: $gray-dark;
    margin: 0 0 12px 0;
}

a {
  color: $orange;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px; // offset border
  transition: .25s all ease-in-out;
  transition-property: color, border-color;
}

a:hover { border-bottom: 1px solid $orange; }
